.parent {
    background-color: blanchedalmond;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    justify-content: center; 
    gap: 10px; 
}

.child {
    border: 2px solid rebeccapurple;
    padding: 20px;
    font-size: 20px; 
    margin: 4px; 
    background-color: rgb(87, 168, 157);
    /* flex: 1 1 calc(20% - 10px);  */
    box-sizing: border-box; 
}

